<div class="course-take-course-link-wrapper">
  <a {{ create_attribute({'class': ['course-take-course-link']}) }} href="{{ path('course.take', {'course': course.id}) }}">
    {{ 'Take course'|t }}
  </a>
</div>
